<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;Havenly Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->

<footer class="mt-5 py-4 bg-light border-top">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-12 col-md-4 mb-2">
                <div class="f-info-socials d-flex justify-content-center justify-content-md-start gap-3">
                  <i class="fa-brands fa-square-facebook"></i>
                  <i class="fa-brands fa-square-instagram"></i>
                  <i class="fa-brands fa-linkedin"></i>
                </div>
              </div>
              <div class="col-12 col-md-4 mb-2">
                <div class="f-info-brand text-center">&copy; Havenly Private Limited</div>
              </div>
              <div class="col-12 col-md-4">
                <div class="f-info-links d-flex justify-content-center justify-content-md-end gap-3">
                  <a href="/privacy">Privacy</a>
                  <a href="/terms">Terms</a>
                </div>
              </div>
              
        </div>
    </div>

</footer>